<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">系统介绍</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;项目介绍</h3>
        	<p style="margin:20px 30px ">&nbsp;&nbsp;&nbsp;本系统是为了持续跟踪不同课程及阶段儿童关于财商课程的学习情况，并结合家庭生活的实际观察，全面反映儿童对于财商的理解并付诸行动，并给与专业的指导意见，伴随儿童的成长。</p>
    </div>
</div>
</body>
</html>